/* General */

h1, h2 {
    display: inline; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center; }

.white {
    background-color: #eeeeee; }

body {
    background-color: #222222;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0; }

p {
    color: #757575;
    font-size: 15px !important; }

.site {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0; }

.row {
    width: 100%; 
    margin-bottom: 10px; }

.column {
    width: 100%; }

.content {
    background-color:#ffffff;
    padding:20px; }

.logo {
    margin: 4px;
    margin-bottom: 32px;
    width: 28px;
    height: 28px; }

a:visited {
    color: #2ba6cb; }

/* Nav Bar */

nav.header {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.75;
    height: 45px;
    margin-bottom: 20px;
}

nav.header li {
    display: inline-block;
}

nav.header a {
    display: inline-block;
    height: 45px;
    line-height: 25px;
    font-size: 15px;
    padding: 10px;
    color: #ffffff;
}

nav.header a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Side Nav */

.side-nav li a {
    color: #398f4e; }

.side-nav li {
    font-size: 14px; }

/* Text CSS */

.italic {
    font-style: italic; }

.caption {
    font-size: 100% !important;
    text-align: center; }

/* Tables */

table tr td {
    font-size: inherit; }

/* Buttons */

.button {
    background-color: #e4e4e4;
    color: #222222;
    border: 0px; 
    padding: 8px !important; }

.button:visited {
    color:  #222222; }

.button:hover {
    background-color: #d4d4d4; 
    color: #222222; }

/* Footer */

.footer { 
    background-color: #222222;
    text-align: center;
    margin-top: 0px !important;
    border-top: 2px solid #eee !important; }

.footer a:focus {
    color: transparent; } 

