---
layout: default
---

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li>Cohort {{ page.cohort }}</li>
      <li class="divider"></li>
      <li><a href="/cohorts/{{ page.cohortlink }}/about.html">About</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/{{ page.cohortlink }}/teachers.html">Teachers</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/{{ page.cohortlink }}/studentwork.html">Student Work</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/{{ page.cohortlink }}/curriculum.html">Curriculum</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/{{ page.cohortlink }}/pictures.html">Photo Gallery</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/{{ page.cohortlink }}/resources.html">Resources</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/{{ page.cohortlink }}/recognition.html">Recognition</a></li>
      <li class="divider"></li>
  </div>
  <div class="large-9 columns">
    {{ content }}
  </div>
</div>
