---
layout: default
---

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li class="divider"></li>
      <li><a href="/cohorts/cohort1/teachers.html">Teachers</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/cohort1/studentwork.html">Student Work</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/cohort1/curriculum.html">Curriculum</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/cohort1/pictures.html">Photo Gallery</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/cohort1/resources.html">Resources</a></li>
      <li class="divider"></li>
      <li><a href="/cohorts/cohort1/recognition.html">Recognition</a></li>
      <li class="divider"></li>
  </div>
  <div class="large-9 columns">
    {{ content }}
  </div>
</div>
