<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/img/logo/sjpminilogo.png" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }} | Paly SJP</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="/assets/foundation/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">    
  </head>
  <body>
    
    <div class="white">
      
      <!--<div style="background: url(/assets/img/photo/header/homepage.jpg); height: 200px;">
      <div>
	<img src="/assets/img/photo/header/homepage.jpg" style="height:400px;width=100%;display:inline-block;"/> -->
	<nav class="header">
	  <ul>
	    <li><a href="/about.html">ABOUT US</a></li>
	    <li><a href="/calendar.html">CALENDAR</a></li>
	</nav>
      <!--</div>-->
      
      {{ content }}
      
    </div>
    
    <div class="footer">
      <div class="row">
	<div class="large-12 columns">
	  <h6 style="color:#ffffff; margin-top:24px; font-size:14px;">Keep in touch!</h6>
	  <a href="https://twitter.com/palysocjustice" target="_blank">
	    <img src="/assets/img/logo/footer/twitter.png" class="logo" /></a>
	  <a href="https://www.facebook.com/pages/Paly-Social-Justice-Pathway/1481478495402897" target="_blank">
	    <img src="/assets/img/logo/footer/facebook.png" class="logo" /></a>
	  <a href="http://palysocialjustice.blogspot.com/" target="_blank">
	    <img src="/assets/img/logo/footer/blogspot.png" class="logo" /></a>
	</div>
      </div>

    <script src="/assets/foundation/js/vendor/modernizr.js"></script>
    <script src="/assets/foundation/js/vendor/jquery.js"></script>
    <script src="/assets/foundation/js/foundation.min.js"></script>

    <script type="text/javascript">
      $(document).foundation();
    </script>
    
  </body>
</html>
