<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/img/logo/sjpminilogo.png" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }} | Paly SJP</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="/assets/foundation/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/assets/foundation/js/vendor/custom.modernizr.js"></script>
    
  </head>
  <body>

    <div class="site">

      <div class="off-canvas-wrap">
	<div class="inner-wrap">
	  
	  <div class="header">
	    
	    <!-- Top Bar -->
	    <nav class="top-bar hide-for-small">
	      <ul class="title-area">
		<!-- Title Area -->
		<li class="name">
		  <h1><a href="/">Paly SJP</a></h1>
		</li>
	      </ul>
	  
              <!-- All tabs on right side  -->
              <section class="top-bar-section">
		<ul class="right">
		  
		  <li class="name">
		    <a href="/about.html">About Us</a>
		  </li>
		  
		  <li class="name">
		    <a href="/calendar.html">Calendar</a>
		  </li>
		  
		  <li class="has-dropdown not-click"><a href="#">Cohorts</a>
		    <ul class="dropdown">
		      <li><a href="/cohorts/one/about.html">Cohort 1</a></li>
		      <li><a href="/cohorts/two/about.html">Cohort 2</a></li>
		    </ul>
		  </li>	  
		</ul>
	      </section>
	    </nav>
	    
	    <!-- Side Bar
	    <nav class="tab-bar">
	      <a class="left-off-canvas-toggle menu-icon" href="#">
		<span>
		  Paly&nbsp;SJP
		</span>
	      </a>
	    </nav>
	    
	    <aside class="left-off-canvas-menu">
	      <ul class="off-canvas-list">
		<li>
		  <label>Menu</label>
		</li>
		<li>
		  <a href="/">Paly SJP</a>
		</li>
		<li>
		  <a href="about.html">About Us</a>
		</li>
		<li>
		  <a href="about.html">Calendar</a>
		</li>
		<li>
		  <label>Cohorts</label>
		</li>
		<li style="background-color: #3B3B3B">
		  <a href="/cohort/one.html">Cohort 1</a>
		</li>
	      </ul>
	    </aside> -->
	    
	  </div>
	  
	  <div class="content">
	    {{ content }}
	  </div>
	  
	  <div class="footer">
	    <div class="row">
	      <div class="large-12 columns">
		<h6 style="color:#ffffff; margin-top:24px;">Keep in touch!</h6>
		<a href="https://twitter.com/palysocjustice" target="_blank">
		  <img src="/assets/img/logo/twitter.png" class="logo" /></a>
		<a href="https://www.facebook.com/pages/Paly-Social-Justice-Pathway/1481478495402897" target="_blank">
		  <img src="/assets/img/logo/facebook.png" class="logo" /></a>
		<a href="http://palysocialjustice.blogspot.com/" target="_blank">
		  <img src="/assets/img/logo/blog.png" class="logo" /></a>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <script type="text/javascript" src="/assets/foundation/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/assets/foundation/js/foundation.min.js"></script>
    <script type="text/javascript" src="/assets/js/foundation/js/foundation/foundation.clearing.js"></script>

    <script type="text/javascript">
      $(document).foundation();
    </script>
    
  </body>
</html>
